@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("../../../themes/swisspixel/fonts/woodmart-font-1-400efb4.woff2?v=7.3.1") format("woff2");
	font-display:swap;
}

.wd-popup.wd-promo-popup{
	background-color:#111111;
	background-image: none;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:left center;
}

.page-title-default{
	background-color:#0a0a0a;
	background-image: none;
	background-size:cover;
	background-position:center center;
}

.footer-container{
	background-color:rgb(20,20,20);
	background-image: none;
}

:root{
--wd-text-font:"Roboto", Arial, Helvetica, sans-serif;
--wd-text-font-weight:400;
--wd-text-color:rgb(43,43,43);
--wd-text-font-size:15px;
}
:root{
--wd-title-font:"Poppins", Arial, Helvetica, sans-serif;
--wd-title-font-weight:600;
--wd-title-color:#242424;
}
:root{
--wd-entities-title-font:"Poppins", Arial, Helvetica, sans-serif;
--wd-entities-title-font-weight:500;
--wd-entities-title-color:#333333;
--wd-entities-title-color-hover:rgb(51 51 51 / 65%);
}
:root{
--wd-alternative-font:"Lato", Arial, Helvetica, sans-serif;
}
:root{
--wd-widget-title-font:"Poppins", Arial, Helvetica, sans-serif;
--wd-widget-title-font-weight:600;
--wd-widget-title-transform:uppercase;
--wd-widget-title-color:#333;
--wd-widget-title-font-size:16px;
}
:root{
--wd-header-el-font:"Lato", Arial, Helvetica, sans-serif;
--wd-header-el-font-weight:700;
--wd-header-el-transform:uppercase;
--wd-header-el-font-size:15px;
}
:root{
--wd-primary-color:rgb(224,28,14);
}
:root{
--wd-alternative-color:#fbbc34;
}
:root{
--wd-link-color:rgb(224,28,14);
--wd-link-color-hover:rgb(145,4,4);
}
:root{
--btn-default-bgcolor:#f7f7f7;
}
:root{
--btn-default-bgcolor-hover:#efefef;
}
:root{
--btn-accented-bgcolor:rgb(224,28,14);
}
:root{
--btn-accented-bgcolor-hover:rgb(165,3,3);
}
:root{
--notices-success-bg:#459647;
}
:root{
--notices-success-color:#fff;
}
:root{
--notices-warning-bg:#E0B252;
}
:root{
--notices-warning-color:#fff;
}

	:root{
					
			
							--wd-form-brd-radius: 0px;
					
					--wd-form-brd-width: 2px;
		
					--btn-default-color: #333;
		
					--btn-default-color-hover: #333;
		
					--btn-accented-color: #fff;
		
					--btn-accented-color-hover: #fff;
		
									--btn-default-brd-radius: 0px;
				--btn-default-box-shadow: none;
				--btn-default-box-shadow-hover: none;
				--btn-default-box-shadow-active: none;
				--btn-default-bottom: 0px;
			
			
			
					
					
							--btn-accented-bottom-active: -1px;
				--btn-accented-brd-radius: 0px;
				--btn-accented-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
				--btn-accented-box-shadow-hover: inset 0 -2px 0 rgba(0, 0, 0, .15);
			
			
					
							
					--wd-brd-radius: 0px;
		
			}

	
	
			:root{
			--wd-container-w: 1600px;
		}
	
			@media (min-width: 1617px) {
			.platform-Windows .wd-section-stretch > .elementor-container {
				margin-left: auto;
				margin-right: auto;
			}
		}
		@media (min-width: 1600px) {
			html:not(.platform-Windows) .wd-section-stretch > .elementor-container {
				margin-left: auto;
				margin-right: auto;
			}
		}
	
			div.wd-popup.popup-quick-view {
			max-width: 920px;
		}
	
	
	
	
			.woodmart-woocommerce-layered-nav .wd-scroll-content {
			max-height: 223px;
		}
	
	
.service_loop_title {
min-height: 58px;
}
.scroll-content { 
display: flex;
height: 260px; 
overflow-y: clip;
}
.elementor-template-full-width .row > [data-elementor-type] {
  margin-bottom: 0px;
}
.portfolio-thumbnail img {
filter: saturate(0);
}
.portfolio-thumbnail:hover img{
filter: saturate(1);
}
.market_gallery .e-gallery-item {
-webkit-box-shadow: -3px 3px 8px 0px rgba(0,0,0,0.4);
-moz-box-shadow: -3px 3px 8px 0px rgba(0,0,0,0.4);
box-shadow: -3px 3px 8px 0px rgba(0,0,0,0.4);
}


input[type="text"], input[type="tel"] {
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom: 1px solid #b3b3b3;
	font-size: 18px;
line-height: 22px;
}

input[type="text"]:focus, input[type="tel"]:focus  {
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom: 1px solid #fff;
color: #fff;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color: #b3b3b3 !important;
    opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #b3b3b3 !important;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #b3b3b3 !important;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #b3b3b3 !important;
    opacity: 1;
}
.wpcf7-submit {
color: #fff;
font-variant: normal;
text-transform: none;
background-color: #e01c0e;
text-align: center;
height: 60px;
border: 0 none;
font-size: 16px;
padding-left: 60px;
padding-right: 60px;
font-weight: 700;
white-space: nowrap;
}

.wpcf7-submit:hover {
color: #fff;
background-color: #555;
}
textarea {
  border: 1px solid rgba(255, 255, 255, 0.5);
color:#fff;
}
textarea:focus {
  border: 1px solid rgba(255, 255, 255, 1);
}
.mc4wp-form input[type="email"] {
  border: 1px solid #b3b3b3;
color: #fff;
}
.mc4wp-form label {
  margin-bottom: 15px;
}

.type-our-projects .entry-header, .type-our-projects .post-title, .type-our-projects .wd-entry-meta, .wd-single-footer, .wd-page-nav, .comments-area {
display: none!important;
}

.site-content {
  margin-bottom: 0px;
}
#rev_slider_1_1 {
left: initial!important;
}


.trp-language-switcher > div {
  border: 1px solid #eeeeee;
  border-radius: 0px;
/*  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 3px) calc(1em + 0px); */
  background-size: 8px 8px, 8px 8px;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
}
.trp-language-switcher > div > a {
  color: #FFF;
}
.trp-language-switcher > div > a:hover {
  background: rgba(0,0,0,0);
  color: #e01c0e;
}